@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto|Sarabun&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #222;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sarabun', sans-serif; */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

/* NAVBAR */
.navbar {
  background: transparent;
  height: 5rem;
}

.nav-container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-logo {
  height: 4.5rem;
  width: 4.5rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.logo {
  background: url("./image/stlr.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 2.75rem;
  width: 2.75rem;
}

.nav-links {
  display: flex;
}

.nav-links li {
  padding: 15px;
}

/* HERO */

.hero {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-background {
  background: linear-gradient(
      to bottom,
      rgba(30, 87, 153, 0.7) 0%,
      rgba(41, 137, 216, 0.7) 50%,
      rgba(32, 124, 202, 0.7) 90%,
      rgba(125, 185, 232, 0.7) 100%
    ),
    url("./image/student.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 75%; */
  height: 100%;
}

.hero-text {
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: left;
  justify-content: center;
  padding-left: 8rem;
  padding-bottom: 5rem;
}

.hero-text h3 {
  font-size: 5.5rem;
  font-family: "Sarabun", sans-serif;
}

.hero-text h5 {
  font-size: 2.5rem;
  color: #d8d8d8;
  font-weight: 300;
}

.hero-text p {
  font-size: 1.7rem;
  color: #dcdcdc;
}

/* LOGIN */
.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form input {
  margin: 0.5rem;
  padding: 5px;
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #207cca;
}

.form h3 {
  padding-left: 10px;
  padding-bottom: 1.2rem;
}

.form button {
  margin: 0.7rem;
  background: #207cca;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

/* EVENTS PAGE */
.logged-in-div {
  padding: 1rem 0;
}
.events {
  width: 80%;
  margin: 0 auto;
  /* position: relative; */
}

.event-div {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #fff;
  margin-bottom: 2rem;
  height: 8rem;
  border-radius: 10px;
}

.event-img {
  background: url("./image/stlr.jpg");
  height: 3.5rem;
  width: 3.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.event-div-right {
  flex: 5;
  display: grid;
  grid-template-columns: 0.7fr 6fr 1fr;
  align-items: center;
}

.event-div-left {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.event-due-title {
  padding: 1rem 0 0 0;
}

.event-details {
  padding-top: 0.5rem;
}

.event-design {
  background: #207cca;
  width: 1.5rem;
  height: 100%;
  align-self: flex-start;
  border-radius: 10px 0 0 10px;
  position: absolute;
}

.qrCode-btn {
  padding: 7px;
  width: 70%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: lightseagreen;
  color: #f4f4f4;
}

/* MODAL */
.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-open {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  background: #fff;
  border-radius: 10px;
  z-index: 999;
  height: 50%;
  width: 50%;
  padding: 2rem;
}

.modal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: #207cca;
  color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 0 10px 0 0;
  cursor: pointer;
}
